name: Build
on: push

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up JDK 17
        uses: actions/setup-java@v5.1.0
        with:
          java-version: 17
          distribution: temurin

      - name: Build and test the project
        run: ./mvnw clean verify
